body {
    font-size: 150%;
    font-family: "Tenorite", "Segoe UI", "Helvetica", sans-serif;
}


#logo {
    font-weight: 600;
    color: #505050;
    margin: 1em;
}

#sem {
    text-align: center;
    margin-top: 1em;
}

#left {
    min-width: 510px;
    margin: 0px 0px 10px 0px;
}

@media only screen and (min-width: 950px) {

    #left,
    #right {
        display: inline-block;
        vertical-align: top;
        max-width: 49%;
    }

    textarea {
        height: 140px;
    }
}

#inputs {
    background-color: #d5d8dc;
    border-radius: 13px;
}

#inputs,
#inputs input {
    font-size: 80%;
    font-family: "Tenorite", "Segoe UI", "Helvetica", sans-serif;
    font-weight: 600;
    color: #2a2a2a;
}

#inputs input {
    border: 2px solid white;
    border-radius: 7px;
}

#inputs input:hover {
    border-width: 2px;
}

.input-div-2 {
    background-color: #abb2b9;
    border-radius: 0px 0px 13px 13px;
}

#output {
    background-color: #808b96;
    line-height: 0;
    padding: 5px;
    border-radius: 13px;
}

#output > div {
    margin: 0;
    color: #2a2a2a;
    /* font-family: monospace; */
    font-weight: 600;
    font-size: 80%;
    line-height: 1;
    /* width: 480px; */
    text-align: left; 
    border-radius: 8px;
    padding: 5px;
}

#output > div > p {
    margin: 0;
    padding: 3px;
}

#results {
    background-color: #bcfefe;
}

#warnings {
    background-color: #ffff88;
    display: none;
    margin-top: 5px !important;
}

#errors {
    background-color: #ff8888;
    display: none;
    margin-bottom: 5px !important;
}

label {
    display: inline-block;
    padding: 4px;
    margin: 4px;
}

label.display-item {
    width: 250px;
    text-align: right;
}

input.display-attendance {
    background-color: white;
    padding: 0px 0px 0px 8px;
    margin: 4px;
    /* font-family: monospace; */
    letter-spacing: 0.1em;
    width: 40px;
    line-height: 180%;
}

label.out-of {
    width: 150px;
    text-align: left;
}

/* textarea.display-output {
    background-color: #d5d8dc;
    padding: 5px;
    margin: 10px;
    font-family: monospace; 
    width: 480px;
    border: none;
} */

button {
    font-family: "Tenorite", "Segoe UI", "Helvetica", sans-serif;
    font-weight: 500;
    color: white;
    padding: 0px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 0px 2px 4px 2px;
    cursor: pointer;
    height: 50px;
    width: 400px;
    border: 2px solid #808b96;
    border-radius: 13px;
}

button:hover {
    border-width: 5px;
    /* border-color: ; */
    /* transition-duration: 0.3s; */
}

.inactive {
    background-color: #808b96;
}

.active {
    background-color: #2874a6;
}

.passed {
    background-color: #1c6900;
}

.failed {
    background-color: #ffbf00;
}

.clear {
    color: black;
    font-style: italic;
    background-color: #ffffff;
}

#footer {
    font-size: 50%;
    text-align: center;
}

#footer div {
    display: inline-block;
    color: white;
    padding: 3px;
    border-radius: 3px;
    margin-left: 5px;
}