body {
    font-size: 150%;
    font-family: "Tenorite", "Segoe UI", sans-serif;
}


#logo {
    font-weight: 600;
    color: #505050;
    margin: 1em;
}

#sem {
    text-align: center;
    margin-top: 1em;
}

#left {
    min-width: 510px;
    margin: 0px 0px 10px 0px;
}

@media only screen and (min-width: 950px) {

    #left,
    #right {
        display: inline-block;
        vertical-align: top;
        max-width: 49%;
    }

    textarea {
        height: 140px;
    }
}

#inputs {
    background-color: #d5d8dc;
}

#inputs,
#inputs input {
    font-size: 90%;
    font-family: monospace;
    font-weight: 600;
    color: #2a2a2a;
}

.input-div-2 {
    background-color: #abb2b9;
}

#output {
    background-color: #808b96;
    line-height: 0;
    padding: 10px 10px 0.1px 10px;
}

#output > div {
    margin: 0px 0px 10px 0px;
    color: #2a2a2a;
    font-family: monospace;
    font-weight: 600;
    font-size: 90%;
    line-height: 1;
    /* width: 480px; */
    border: none;   
    text-align: left; 
    border-radius: 3px;
}

#output > div > p {
    margin: 0;
    padding: 3px;
}

#results {
    background-color: #d5d8dc;
}

#warnings {
    background-color: #ffff88;
}

#errors {
    background-color: #ff8888;
}

label {
    display: inline-block;
    padding: 4px;
    margin: 4px;
}

label.display-item {
    width: 250px;
    text-align: right;
}

input.display-attendance {
    background-color: white;
    padding: 0px 0px 0px 8px;
    margin: 4px;
    font-family: monospace;
    letter-spacing: 0.1em;
    width: 40px;
    line-height: 180%;
}

label.out-of {
    width: 150px;
    text-align: left;
}

textarea.display-output {
    background-color: #d5d8dc;
    padding: 5px;
    margin: 10px;
    font-family: monospace;
    width: 480px;
    border: none;
}

button {
    font-family: "Tenorite", "Segoe UI", sans-serif;
    font-weight: 500;
    color: white;
    padding: 0px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 0px 2px 4px 2px;
    cursor: pointer;
    height: 50px;
    width: 400px;
}

button:hover {
    border-width: 5px;
    /* transition-duration: 0.3s; */
}

.sembutton-active {
    background-color: #2874a6;
}

.sembutton-inactive {
    background-color: gray;
}

.sembutton-clear {
    background-color: #c0392b;
}